@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    background-color: #282c34;
    color: white;
    font-family: 'Montserrat';
}

/* Universal Wrapper */
main {
    max-width: 1440px;
    margin: 0 auto; /* To center everything */
    padding: 0 20px;
}

.container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

ul {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
    font-size: large
}

.hero {
    display: flex; /* Pakai flex buat gampang center semuanya */
    flex-direction: column;
    align-items: center; /*Center pakai ini */
    justify-content: center; /* Center secara vertikal */
}

.hero-text {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    color: #ff7575;
    font-size: 4em;
}

h3 {
    font-size: 1.5em;
}

hr {
    border: none; /* Harus border none biar ga over-write gradient */
    height: 1px;
    margin-bottom: 1em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #727476, rgba(255, 255, 255, 0));
    /* rgba akhirnya 0 buat set transparency */
}

.categories-list {
    justify-content: center;
    align-items: center;
    gap: 2em;
    font-size: x-large;
    color: #838384;
}